name: Auto Config Updater

on:
  schedule:
    - cron: '0 */2 * * *' # اجرای خودکار هر ۲ ساعت
  workflow_dispatch: # امکان اجرای دستی برای تست

permissions:
  contents: write

concurrency:
  group: config-update
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Collector Script
        run: python collector.py

      - name: Commit and Push Changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          git fetch origin main
          git reset --soft origin/main
          
          git add assets/data/content.txt
          
          if git diff --staged --quiet; then
            echo "No changes detected. Skipping commit."
          else
            git commit -m "Update configs: $(date -u +'%Y-%m-%d %H:%M:%S') UTC"
            git push origin main --force
          fi
